@model entityLayer.Entities.Cart
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="modal-header">
    <h2>SatinAl</h2>

</div>
<div class="container">
    @using (Html.BeginForm("Buy2", "Sales", FormMethod.Post))
            {
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            Kullanici Adi Soyadi: @Session["Ad"] @Session["Soyad"]
        </div>
        <div class="form-group">
            Urun Bilgisi: @Html.DisplayFor(x => x.Product.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            Adet: @Html.DisplayFor(x => x.Product.Quantity, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <img src="~/Content/Image/@Model.Product.Image" width="90" height="90" />
        </div>
        <div class="form-group">
            Fiyat: @Html.DisplayFor(x => x.Product.Price, new { @class = "form-control" })
        </div>
    </div>
    <div class="model-footer" style="float:right">
        <button class="btn btn-success">Satin Al</button>
        <a href="/Cart/Index" class="btn btn-dark">Iptal</a>
    </div>
            }

</div>

